- content_for :banner_bg do
  .poster(style="background:url( '/assets/bk-105.jpg') no-repeat center")
- content_for :image do
  = image_tag('bk_1.jpg')
- content_for :heading do
  = @post.title.upcase
- content_for :body do
  = simple_format @post.body
  = ENV["SECRET_KEY_BASE"] 
