<% content_for :hero do %>

<div class="wrapper">
  <div class="hero-wrapper">
    <div class="content">
      <%= image_tag('boho_kitty.png') %>
      <div class="buttons">
        <%= button_to 'Boho Kitty on Instagram'.upcase, 'http://www.instagram.com/boho_kitty', form: {target: '_blank'} %>
        <%= button_to 'Boho Kitty on Etsy'.upcase, 'http://www.instagram.com/boho_kitty', form: {target: '_blank'} %>
      </div>
    </div>
  </div>
</div>
<% end %>

<% content_for :announcements do %>
  <div class="announcements">
    <div class="items">
      <ul>
        <li>
          <div class="hover-tile-outer">
            <div class="hover-tile-container">
              <div class="hover-tile hover-tile-visible">
                <h3>Featured Items</h3>
              </div>
              <div class="hover-tile hover-tile-hidden">
                <p>All featured items are 20% off!</p>
              </div>
            </div>
          </div>
        </li>
        <% @products.each do |p|  %>
        <li>
          <%= render partial: 'shared/tile', locals: { resource: p } %>
        </li>
        <% end %>
      </ul>
    </div>
  </div>
<% end %>
