- content_for :hero do
  .wrapper{style: "background:url(#{image_path('bk-22.jpg')}) no-repeat center; background-size: cover"}
    .hero-wrapper
      .content
    .overlay
      .text-box
        %h1 FOR THE BRIDE WITH A FREE SPIRIT AND A LITTLE SASS
- content_for :announcements do
  =link_to products_path do
    .collection-box{style: "background:url(#{image_path('bk-27.jpg')}) no-repeat top; background-size: cover"}
      .box
        %h1 COLLECTION
