- content_for :banner_bg do
  .spacer
- content_for :heading do
  = @post.title.upcase
  = link_to "http://instagram.com/boho_kitty" do
    %i.fa.fa-instagram
- content_for :body do
  = simple_format @post.body
- content_for :grid_items do
  %ul
    - @instagram_recent.each do |p|
      %li.grid-item.instagram
        = render partial: 'shared/tile', locals: { resource: p }
