<% content_for :heading do %>
  <%= @post.title %>
<% end %>

<% content_for :body do %>
  <%= @post.body %>
<% end %>

<% content_for :grid_items do %>
  <ul>
    <% @instagram_recent.each do |p| %>
      <li class="grid-item">
        <%= render partial: 'shared/tile', locals: { resource: p } %>
      </li>
    <% end %>
  </ul>
<% end %>
