- @posts.each do |post|
  - content_for :hero do
    .spacer
  - content_for :announcements do
    .container
      %h1 REAL BRIDES
      %hr
      %h3= post.title.upcase
      = simple_format post.body
