.charge-modal {
  label {
    cursor: pointer;
    margin-bottom: 0;
  }
  input[type="checkbox"] {
    display: none;
  }
  .modal-window { // overlay
    @include transition(opacity .25s ease);
    @include position(fixed, 0px 0px 0px 0px);
    background: rgba(0,0,0, .85);
    opacity: 0;
    text-align: left;
    visibility: hidden;
    z-index: 99999999999;
  }
  .modal-close {
    @include position(absolute, ($modal-padding /2) ($modal-padding /2) null null);
    @include size(1.5em);
    cursor: pointer;
    background: $modal-background;

    &:after,
    &:before {
      @include position(absolute, 3px 3px 0 50%);
      @include transform(rotate(45deg));
      @include size(.15em 1.5em);
      background: $modal-close-color;
      content: '';
      display: block;
      margin: -3px 0 0 -1px;
    }

    &:hover:after,
    &:hover:before {
      background: darken($modal-close-color, 10);
    }

    &:before {
      @include transform(rotate(-45deg));
    }
  }
  .modal-inner {
    @include transition(opacity .25s ease);
    border-radius: $base-border-radius;
    background: $modal-background;
    margin: auto;
    position: relative;
    width: 95%;
    margin-top: .6em;
    .modal-header {
      padding: 20px;
      h2 {
        font-size: 1.3em;
        @include media($medium-screen) {
          font-size: 2em;
        }
      }
    }
    .modal-footer {
      padding-top: 20px;
      font-size: 0.8em;
      @include clearfix;
      .float {
        text-align: right;
      }
      @include media($medium-screen) {
        font-size: 1em;
      }
    }
    .modal-card, .modal-shipping, .modal-confim, .modal-details .modal-purchase {
      @include transition(all, .5ms, ease-in-out);
      .back {
        display: none;
      }
    }
    .modal-card, .modal-confirm, .modal-details, .modal-purchase {
      display: none;
    }
    .modal-purchase {
      float: right;
    }
    @include media($medium-screen) {
      width: 60%;
      max-height: 60%;
      margin-top: 10em;
    }
    @include media($large-screen) {
      width: 50%;
      margin-top: 10em;
    }
    .charge-fields {
      width: 100%;
      font-size: 1.3em;
      overflow: hidden;
      height: 250px;
      .form-fields {
        @include transition(all, .3s ease-in-out);
        position: relative;
      }
      .credit-card, .shipping, .details, .confirm {
        width: 100%;
        height: 250px;
        padding-top: 20px;
      }
      .credit-card {
        @include clearfix;
        height: 250px;
        .name, .charge_email, .credit_card_number, .exp_month, .exp_year, .cvc {
          display:inline-block
        }
        .exp_month, .exp_year, .cvc {
          @include span-columns(4);
          &:last-child {
            @include omega();
          }
        }
        @include media($medium-screen) {
          .credit_card_number {
            @include span-columns(12);
          }
          .name, .charge_email {
            @include span-columns(6);
            &:nth-child(2) {
              @include omega();
            }
          }
          .exp_month, .exp_year, .cvc {
            @include span-columns(4);
          }
          .cvc {
            @include omega();
          }
        }
      }
      .shipping {
        .address_line1, .address_line2, .address_city, .address_state, .address_zip, .address_country {
          display: inline-block;
        }
        .address_line1 {
          @include span-columns(9);
        }
        .address_line2 {
          @include span-columns(3);
          @include omega();
        }
        .address_city {
          @include span-columns(6);
        }
        .address_state {
          @include span-columns(6);
          @include omega();
        }
        .address_zip {
          @include span-columns(6);
        }
        .address_country {
          @include span-columns(6);
          @include omega;
        }
        @include media($medium-screen) {
          .address_line1 {
            @include span-columns(9);
          }
          .address_line2 {
            @include span-columns(3);
            @include omega();
          }
          .address_city {
            @include span-columns(6);
          }
          .address_state {
            @include span-columns(3);
          }
          .address_zip {
            @include span-columns(3);
            @include omega();
          }
          .address_country {
            @include span-columns(5);
          }
        }
      }
      .details {
        text-align: center;
      }
      .confirm {
        text-align: center;
        .payment-errors {
          margin-top: 20px;
          width: 100%;
          .card-error {
            @include transition(all, 0.2s, ease-in-out);
            color: #fff;
            background: $brick;
            padding: 5px;
            border-radius: 2px;
            width: 100%
          }
          .card-success {
            @include transition(all, 0.2s, ease-in-out);
            color: #fff;
            margin-top: 20px;
            background: $mint;
            padding: 5px;
            border-radius: 2px;
            width: 100%;
          }
        }
      }
    }
  }

  .modal-state:checked + .modal-window {
    opacity: 1;
    visibility: visible;
  }

  .modal-state:checked + .modal-window .modal-inner {
    top: 0;
  }
}

// Based on code by Kasper Mikiewicz
