.btn {
  @extend button;
}

input.btn-black, .btn-black {
  color: $charcoal;
  border-color: lighten($charcoal, 25);
  &:hover {
    background: transparentize($charcoal, .80);
    color: $charcoal;
  }
}

input.btn-primary, .btn-primary {
  color: $tope;
  background-color: $charcoal;
  border-color: lighten($tope, 25);
  &:hover {
    background: transparentize($charcoal, .20);
    color: $tope;
  }
}

#flash {
  @include flash($brick);
  #flash_alert {
    @include outer-container();
    padding: 10px 0;
    color: $tope;
  }
  #flash_notice {
    @include outer-container();
    padding: 10px 0;
    color: $tope;
  }
}

.poster {
  @include background(url('bk-193.jpg'));
  height: 600px;
  background-size: cover;
}

.poster-thin {
  height: 200px;
  background-size: cover;
  background-position: center;
}

.spacer {
  height: $nav-height;
}
