.footer-top {
  @include clearfix;
  text-align: center;
  padding: 30px;
  background: darken($charcoal, 15);
  .footer-logo {
    stroke: $tope;
    width: 70px;
    position: relative;
    left: -10px;
    path {
      fill: $tope
    }
  }
  .boho, .kitty {
    color: white;
    font-size: 1.5em;
    font-weight: 300;
  }
  .kitty {
    padding-left: 10px;
  }
}

.footer-bottom {
  @include clearfix;
  padding: 30px;
  background: darken($charcoal, 20);
  text-align: center;
  a {
    color: $tope;
  }
  li {
    display: inline-block;
    padding: 0 20px;
  }
  .footer-left {
    @include span-columns(3);
    @include shift(3);
  }
  .footer-right {
    @include span-columns(4);
    @include omega();
  }
}


.etsy-icon {
  fill: white;
  width: 29px;
  vertical-align: bottom;
}
