.grid {
  @include row(block);
  .grid-item {
    @include media($large-screen) {
      float: left;
      display: block;
      width: percentage(1/3);
      .button_to {
        z-index: 100;
        width: 50%;
        height: 25%;
        overflow: auto;
        margin: auto;
        position: absolute;
        top: 0; left: 0; bottom: 0; right: 0;
      }
    }
    position: relative;
    img {
      width: 100%;
    }
  }

}
