.grid {
  position: absolute;
  .grid-item {
    @include media($large-screen) {
      display: inline-block;
      &:nth-child(4n) {
        @include omega();
      }
    }
    position: relative;
    img {
      width: 100%;
    }
  }

}
