.grid {
  @include row(block);
  .grid-item {
    float: left;
    display: block;
    position: relative;
    width: 100%;
    margin-bottom: 30px;
    .button_to {
      z-index: 100;
      width: 50%;
      height: 25%;
      overflow: auto;
      margin: auto;
      position: absolute;
      top: 0; left: 0; bottom: 0; right: 0;
    }
  }
  .instagram {
    @include media($medium-screen) {
      width: percentage(1/2);
      float: left;
    }
    @include media($large-screen) {
      width: percentage(1/3);
      float: left;
      margin: 0;
    }
  }
  .products {
    @include media($medium-screen) {
      width: percentage(1/2);
      float: left;
      padding: 1em;
    }
    @include media($large-screen) {
      width: percentage(1/3);
      float: left;
      margin: 0;
      padding: 1em;

    }
  }
}
