.wrapper {
  z-index: 1;
  position: relative;
  @include background-image(linear-gradient(135deg, transparentize($medium-gray, 0.9), transparentize($medium-gray, 0.9)), url('bk-22.jpg'));
  // @include filter(grayscale(100%));
  background-size: cover;
  min-height: 700px;
  height: 100vh;
  .hero-wrapper {
    text-align: center;
    .content {
      position: relative;
      top: 300px;
      h1 {
        color: $tope;
        font-size: 4em;
      }
    }
  }
}

.announcements {
  .items {
    @include row(block);
    li {
      float: left;
      display: block;
      width: percentage(1/4);
    }
  }
}

.collection-box {
  height: 300px;
  position: relative;
  margin: 50px auto;
  @include background(url('bk-178.jpg'));
  background-position:left 80%;
  background-size: cover;
  @include media($medium-screen) {
    width: 50%;
  }
  .box {
    $box-height: 100px;
    margin: auto;
    height: $box-height;
    position: absolute;
    top: 0; right: 0; bottom: 0; left: 0;
    border: 2px solid white;
    width: 300px;
    h1 {
      color: white;
      padding-top: $box-height / 3;
      font-size: 2em;
      text-align: center;
    }
  }
  &:hover {
    background-size: cover;
    .box {
      background: transparentize(white, 0.8);
    }
  }
}
