.nav-wrapper {
  position: absolute;
  z-index: 100;
  background: transparentize($tope, 0.4);
  clear: both;
  left: 0; right: 0;
  .nav-container {
    width: 100%;
    @include outer-container();
    height: $nav-height;
    padding-top: $nav-vertical-padding;
    .nav-logo {
      position: relative;
      .logo-text {
        float: left;
        padding-left: 70px;
      }
      .logo {
        position: absolute;
        height: 90px;
        top: -$nav-vertical-padding / 1.2;
        path, text {
          fill: $charcoal;
        }
      }
    }
    ul {
      float: right;
      li {
        display: inline-block;
        padding-left: 40px;
        &:first-child {
          padding-left: 0
        }
        a {
          color: $charcoal;
        }
      }
    }
  }
  &:hover {
    background: transparentize($tope, 0.2);
  }
}
