.nav-wrapper {
  position: absolute;
  z-index: 100;
  background: transparentize($tope, 0.4);
  clear: both;
  left: 0; right: 0;
  .nav-container {
    width: 100%;
    @include outer-container();
    height: $nav-height;
    padding-top: $nav-vertical-padding;
    .nav-logo {
      position: relative;
      .logo-text {
        float: left;
        padding-left: 70px;
      }
      .logo {
        position: absolute;
        height: 90px;
        top: -$nav-vertical-padding / 1.2;
        path, text {
          fill: $charcoal;
        }
      }
    }
    .nav-button {
      float: right;
      margin-right: 20px;
      @include media($large-screen) {
        display: none;
      }
    }
    .nav-list {
      margin-top: 20px;
      float: right;
      display: none;
      @include media($large-screen) {
        margin-top: 0;
        display: block;
      }
      li {
        padding: 0 15px 10px 0;
        text-align:right;
        &:first-child {
          padding-left: 0
        }
        a {
          color: $charcoal;
        }
        @include media($large-screen) {
          display: inline-block;
          padding: 0 0 0 40px;
          text-align: left;
        }
      }
    }
  }
  &:hover {
    background: transparentize($tope, 0.2);
  }
}
