.banner {
  padding-bottom: 30px;
  background: $sand;
  .container {
    &:nth-of-type(div, 2) {
      @include omega();
    }
    @include outer-container;
    position: relative;
    padding-top: 20px;
    h2 {
      font-size: 3em;
    }
    .image-box {
      @include media($medium-screen) {
        @include span-columns(5);
      };
      position: relative;
      height: 1px;
      background: none;
      img {
        position: absolute;
        top: 20px;
        width: 100%;
      }
    }
    .content {
      @include media($medium-screen) {
        @include span-columns(7);
      };
    }
  }
}

.additional {
  @include outer-container;
  border: 1px solid $sand;
  padding: 15px;
  margin-top: 50px;
}
