.email-reveal {
  display: none;
}

.grid-item {
  position: relative;
  .shade {
    z-index: 99;
    position: absolute;
    top: 0; right: 0; bottom: 5px; left: 0;
    &:hover {
      background: transparentize($charcoal, 0.5);
    }
  }
  .button_to {
    z-index: 100;
    width: 50%;
    height: 25%;
    overflow: auto;
    margin: auto;
    position: absolute;
    top: 0; left: 0; bottom: 0; right: 0;
  }
}
