.table-container {
  .checkout-btn {
    float: right;
  }
}

.table-header {
  @include clearfix();
}

th, td {
  border-bottom: 1px solid lighten($charcoal, 35);
  text-align: right;
  &:first-child {
    text-align: left;
  }
}

td form, td span {
  float: right;
}

.qty {
  margin-top: 7px;
}
