.table-image {
  @include span-columns(4);
  display: none;
  position: relative;
  height: 1px;
  @include media($large-screen) {
    display: block;
  }
  li {
    @include span-columns(6);
    &:nth-child(even) {
      @include omega;
    }
  }
}

.table-container {
  @include omega();
  @include media($large-screen) {
    @include span-columns(8);
  }
}

.table-header {
  @include clearfix();
}

th, td {
  border-bottom: 1px solid lighten($charcoal, 35);
  text-align: right;
}

td form, td span {
  float: right;
}

.qty {
  margin-top: 7px;
}
