.hover-tile-outer {
  $hover-tile-height: 20em;
  background-size: cover;
  background-position: top;
  height: $hover-tile-height;
  margin-bottom: $base-line-height;
  cursor: pointer;

  .hover-tile-container {
    height: $hover-tile-height;
    overflow: hidden;
    position: relative;
  }

  .hover-tile {
    @include transition(all, .2s ease-in-out);
    background: inherit;
    color: white;
    height: inherit;
    padding: 1em 1.5em;
  }

  .hover-tile-visible {
    color: transparentize(white, .3);
    @include background(linear-gradient(135deg, transparentize(#90799b, 0.8), transparentize(#5a9674, 0.8)));
    font-size: 2em;
    font-weight: 300;
    padding-top: 3.5em;
    text-align: center;
    h3 {
      color: $tope;
      text-shadow: 0px 0px 5px $charcoal;
    }
  }

  .hover-tile-hidden {
    @include transition(all 0.2s ease-in-out);
    position: absolute;
    top: 0;
    width: 100%;
    font-size: 1.5em;
    font-weight: 300;
    padding-top: 4em;
    text-align: center;
    color: $charcoal;
    @include background(linear-gradient(135deg, transparentize(#d7d3d6, 0.2), transparentize(#edeced, 0.2)));
    @include media($large-screen) {
      @include filter(opacity(0));
    }
  }

  .instagram-tile {
    padding-top: 2em;
    padding-left: 2em;
    font-size: 1em;
    text-align: left;
  }
}

.hover-tile-container:hover > .hover-tile-hidden {
  @include filter(opacity(1))
}

.grid-item.products {
  .hover-tile-hidden {
    @include filter(opacity(0.9));
  }
}
