$hover-tile-height: 20em;

.hover-tile-outer {
  background-size: cover;
  background-position: top;
  height: $hover-tile-height;
  margin-bottom: $base-line-height;
  cursor: pointer;

  .hover-tile-container {
    height: $hover-tile-height;
    overflow: hidden;
    position: relative;
    &:hover > .hover-tile {
      visibility: visible;
      background: transparentize(white, 0.1);
    }
  }

  .hover-tile {
    @include transition(all, 0.2s ease-in-out);
    background: transparentize(white, 0.3);
    visibility: hidden;
    height: inherit;
    padding: 1em 1.5em;
  }
}

.products .hover-tile-container {
  &:hover > .hover-tile {
    h3, h4 {
      color: $charcoal;
    }
  }
  .hover-tile {
    text-align: center;
    padding-top: $hover-tile-height / 4;
    font-size: 1.4em;
    visibility: visible;
    @include media($large-screen) {
      visibility: hidden;
      background: transparentize(white, 0.5);
    }
  }
}
