<% content_for :heading do %>
  Collection
<% end %>

<% content_for :grid_items do %>
  <% @products.each do |p| %>
    <li class="grid-item">
      <%= render partial: 'shared/tile', locals: { resource: p } %>
    </li>
  <% end %>
<% end %>
