- content_for :banner_bg do
  .poster(style="background:url( './assets/bk-161.jpg') no-repeat center 50%")
- content_for :heading do
  COLLECTION
- content_for :grid_items do
  - @products.each do |p|
    %li.grid-item
      = render partial: 'shared/tile', locals: { resource: p }
