!!! Strict
%html{:xmlns => "http://www.w3.org/1999/xhtml"}
  %head
    %meta{:content => "text/html; charset=utf-8", "http-equiv" => "Content-Type"}/
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}/
    %title Your Message Subject or Title
  %body
    %table{:cellpadding => "0", :cellspacing => "0", :style => "background-color: #c7c7c7; font-family: helvetica, arial, sans-serif;", :width => "100%"}
      %tbody
        %tr
          %td{:align => "center"}
            %table{:cellpadding => "0", :cellspacing => "0", :style => "background-color: #fff; margin:0 auto;", :width => "600"}
              %thead
                %tr
                  %td{:align => "center", :colspan => "2", :style => "padding: 15px;"}
                    = image_tag 'boho_kitty_logo.png', alt: 'Boho Kitty Logo', width: 447, height: 108
              %tbody
                %tr
                  %td{:style => "padding:0 15px;"}
                    = yield
        %tr
          %td
            %table{:cellpadding => "0", :cellspacing => "0", :style => "margin:0 auto;", :width => "600"}
              %tbody
                %tr
                  %td{:style => "color:#333; font-size:11px; line-height:125%; padding:10px 15px 10px 0; text-align:right;"}
                    \© #{Date.today.year}, Boho Kitty — All Rights Reserved.
                    %br/
                    Email: heidi@bohokitty.com
